$basic-color: #212121;
$pale-color: #afb1b8;
$accent-color: #2196f3;
$main-color: #000000;
$white-color: #ffffff;
$paragr-gris-color: #757575;
$main-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: Roboto, sans-serif;
$main-font-style: normal;
$main-font-weight: 400;
$main-letter-spacing: 0.03em;
$main-font-size: 14px;
$main-line-height: 1.7;
